<table class='table table-striped'>
  <thead>
    <tr>
      <th>Id</th>
      <th>User email ID</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @sessions.each do |session| %>
      <tr>
        <td><%= session.id %></td>
        <td><%= session.user_email %></td>
        <td><%= session.start_time %></td>
        <td><%= session.end_time %></td>
        <!-- <td><% session.created_at %></td> -->
        <td>
          <%= link_to "<button class='btn btn-primary'>Work Log</button>".html_safe, work_logs_path(session_id: session.id), title: 'Show Work Log' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>